include pug/componentes/configuraciones.pug
doctype html
html
  head
    meta(charset="UTF-8")
    link(rel="icon", href="images/fav.png")
    link(rel="stylesheet",href="css/style.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Abel&family=Cairo:wght@400;600&display=swap", rel="stylesheet")
    title Diego Matera - Frontend Developer
  body 
    .landing-container
      .line
      div.hero
        img(src="images/avatarbn.jpg", alt="")
        div.hero-title
          h2 Welcome, you are about to enter to my Portfolio! My name is
          h1 diego matera - frontend developer
        a(href="html/portfolio.html" class="go") lets go!
        .redes-cont
          .redes
            a(href="https://github.com/materadiego", target="_blank")
              img(src="images/gitb.png", alt="GitHub")
            a(href="https://www.linkedin.com/in/diego-matera/", target="_blank")
              img(src="images/in.png", alt="LinkedIn")
            a(href="https://soundcloud.com/diego-matera", target="_blank")
              img(src="images/sc.png", alt="Soundcloud")