.menu-but.mob#menu-but 
  img(src="../images/Responsive-menu.png", alt="")
section.sobre-mi
  #about-me 
    figure.icon.icon_blue 
      img.icon-about-me(src="../images/about-me_icon.png", alt="icon")
    h3 About Me
    
  figure.logo-responsive-figure
    img.logo-responsive(src="../images/avatar2.png", alt="")
  p  Born in Buenos Aires, Argentina in the early 90's. I've always been a proactive guy, constantly learning and improving my skills.
  p  I've been working as an Audio & Lighting technician for a decade, particulary with DMX lighting shows (using Avolites interface).
  p  Working with DMX programming made me very interested in learning about different programming languages, so I started studying Web Design (Frontend Development) & I am actually working as a freelancer.
  p  I'm working on getting my certification as Fullstack Javascript Developer. Some of my other interests are AWS, Cibersecurity & Software Development 
  .skills-title-cont
    figure.skills-icon
      img.icon-skills(src="../images/skills_icon.png", alt="icon")
    h3 Skills 
    
  .skills 
    .skills--cont#skills-front
      .skills--cont--title#title-f
        h4.title-f FRONTEND DEVELOPMENT
        
      ul.skills--cont--ul.ul-front  
        li
          figure
            img(src="../images/html.png", alt="")
          p HTML5 
        li 
          figure
            img(src="../images/pug.png", alt="")
          p Pug
        li  
          figure
            img(src="../images/css.png", alt="")
          p CSS
        li  
          figure
            img(src="../images/sass.png", alt="")
          p Sass 
        li  
          figure
            img(src="../images/responsive.png", alt="")
          p Responsive Design 
        li  
          figure
            img(src="../images/js.png", alt="")
          p Javascript
        li  
          figure
            img(src="../images/github.png", alt="")
          p GitHub 
        li  
          figure
            img(src="../images/webpack.png", alt="")
          p Webpack
        li  
          figure
            img(src="../images/react.png", alt="")
          p React.JS 
        li  
          figure
            img(src="../images/ps.png", alt="")
          p Photoshop (basic)
    //- .skills--cont#skills-a-l 
    //-   .skills--cont--title#title-a-l
    //-     h4.title-a-l  AUDIO & LIGHTING
    //-     img(src="../images/flecha.png", alt="", class="flecha-a-l")
    //-   ul.skills--cont--ul.ul-a-l  
    //-     li  Audio DAWs (Protools, Cubase, Ableton Live) 
    //-     li  Professional Recording, Mixing & Mastering
    //-     li  Beatmaker
    //-     li  Live Audio Operator 
    //-     li  DMX Lighting Operator (Avolites)
section.portfolio
  h3 Portfolio
  h4#developed DEVELOPMENTS
  .portfolio--trabajos.swiper.mySwiper.mob
    .swiper-wrapper
      .swiper-slide
        +caja('http://daleplast.com.ar/', 'daleplast.jfif', 'Daleplast SRL', 'Frontend Development using React & Sass')
      .swiper-slide
        +caja('https://materadiego.github.io/BIM-Formation/', 'bim.png', 'BIM Formation', 'Frontend Development using HTML, SASS & Javascript')
      //- .swiper-slide
      //-   +caja('http://tuespaciointeriores.com/', 'tu-espacio.png', 'Tu Espacio Interioes', 'Frontend Development Wordpress(Divi Theme)')
      .swiper-slide
        +caja('https://materadiego.github.io/IAF/', 'iaf.png', 'Instituto Alejandro Fleming', 'Frontend Development using HTML, SASS & JavaScript.')
      .swiper-slide
        +caja('https://materadiego.github.io/madero-tango-eventos/', 'tango.png', 'Madero Tango', 'Frontend Development using HTML, SASS & JavaScript.')
      .swiper-slide
        +caja('https://materadiego.github.io/cocinas-marketplace/', 'cocinas-m.png', 'Marketplace C.Ocultas', 'Frontend Development using HTML, SASS & JavaScript.')
      .swiper-slide
        +caja('https://materadiego.github.io/cocinas-ocultas/', 'cocinas.png', 'Cocinas Ocultas', 'Frontend Development using HTML, CSS, JavaScript & PHP.')
      .swiper-slide
        +caja('https://www.cascanuecesarg.com', 'cascanueces.png', 'Cascanueces', 'Frontend Development using HTML, CSS, JavaScript & PHP.')
      .swiper-slide
        +caja('https://www.pinkinton.com/', 'pinkinton.png', 'Pinkinton', 'Frontend Development using HTML, CSS, JavaScript & PHP.')
    .swiper-button-next
    .swiper-button-prev
  div.portfolio--trabajos.desk
    +caja('http://daleplast.com.ar/', 'daleplast.jfif', 'Daleplast SRL', 'Frontend Development using React, Sass & MUI')
    +caja('https://materadiego.github.io/BIM-Formation/', 'bim.png', 'BIM Formation', 'Frontend Development using HTML, SASS & Javascript')
    //- +caja('http://tuespaciointeriores.com/', 'tu-espacio.png', 'Tu Espacio Interioes', 'Frontend Development using Wordpress (Divi Theme)')
    +caja('https://materadiego.github.io/IAF/', 'iaf.png', 'Instituto Alejandro Fleming', 'Frontend Development using HTML, SASS & JavaScript.')
    +caja('https://materadiego.github.io/madero-tango-eventos/', 'tango.png', 'Madero Tango', 'Frontend Development using HTML, SASS & JavaScript.')
    +caja('https://materadiego.github.io/cocinas-marketplace/', 'cocinas-m.png', 'Marketplace C.Ocultas', 'Frontend Development using HTML, SASS & JavaScript.')
    +caja('https://materadiego.github.io/cocinas-ocultas/', 'cocinas.png', 'Cocinas Ocultas', 'Frontend Development using HTML, CSS, JavaScript & PHP.')
    +caja('https://www.cascanuecesarg.com', 'cascanueces.png', 'Cascanueces', 'Frontend Development using HTML, CSS, JavaScript & PHP.')
    +caja('https://www.pinkinton.com/', 'pinkinton.png', 'Pinkinton', 'Frontend Development using HTML, CSS, JavaScript & PHP.')
  h4#projects PROJECTS
  .portfolio--proyectos.swiper.mySwiper.mob
    .swiper-wrapper
      .swiper-slide 
        +caja('https://materadiego.github.io/cube-animation2/','cube.png','3D Cube Animation','Animation developed using HTML, CSS & Javascript.')
      .swiper-slide 
        +caja('https://materadiego.github.io/login1/','landing.png','Login & Signup Component','Component created using HTML, CSS & Javascript.')
      .swiper-slide 
        +caja('https://materadiego.github.io/layout-curso/','landing.png','Landing page - CSS Grid','Landing page using css grid layout & HTML.')
      .swiper-slide 
        +caja('https://materadiego.github.io/prueba-animacion-css/','kombi.png', 'CSS Animation','Animation made for fun after finishing CSS animation course.')
      .swiper-slide 
        +caja('https://materadiego.github.io/transiciones-css/','transiciones.png','CSS Transitions','Project developed during CSS animation course.')
      .swiper-slide 
        +caja('https://materadiego.github.io/prueba-calculos-javascript/','figuras.png','JavaScript Calc','Calculating geometric figures.')

      
    .swiper-button-next
    .swiper-button-prev
  div.portfolio--proyectos.desk
    +caja('https://materadiego.github.io/cube-animation2/','cube.png','3D Cube Animation','Animation developed using HTML, CSS & Javascript.')
    +caja('https://materadiego.github.io/login1/','logincomponent.png','Login & Signup Component','Component created using HTML, CSS & Javascript.')
    +caja('https://materadiego.github.io/layout-curso/','landing.png','Landing page - CSS Grid','Landing page using css grid layout & HTML.')
    +caja('https://materadiego.github.io/prueba-animacion-css/','kombi.png', 'CSS Animation','Animation made for fun after finishing CSS animation course.')
    +caja('https://materadiego.github.io/transiciones-css/','transiciones.png','CSS Transitions','Project developed during CSS animation course.')
    +caja('https://materadiego.github.io/prueba-calculos-javascript/','figuras.png','JavaScript Calc','Calculating geometric figures.')