section.sobre-mi
  h3#about-me About Me
  p  Born in Buenos Aires, Argentina in the early 90's. I've always been a proactive guy, constantly learning an improving my skills.
  p  I've been working as an Audio & Lighting technician for a decade, particulary with DMX lighting shows (using Avolites interface).
  p  Working with DMX programming made me very interested in learning about different programming languages, so I started studying Web Design (Frontend Development) & I am actually working as a freelancer.
  p  I'm working on getting my certification as Fullstack Javascript Developer. Some of my other interests are AWS, Cibersecurity & Software Development 
  p  Sport lover, Musical Producer & Minimal House DJ.
  h3 Skills 
  .skills 
    ul 
      .title 
        h4 FRONTEND DEVELOPER
        img(src="../images/frontend.png", alt="icon")
      li - HTML (HTML 5, pug)
      li - CSS (Flexbox, CSS Grid, Animations, Sass) 
      li - Responsive Design 
      li - Javascript
      li - GitHub 
      li - PHP (basic)
      li - Photoshop (basic)
    ul 
      .title
        h4  AUDIO & LIGHTING TECHNICIAN
        img(src="../images/tech.png", alt="")
      li - Audio DAWs (Protools, Cubase, Ableton Live) 
      li - Professional Recording, Mixing & Mastering
      li - Beatmaker
      li - Live Audio Operator 
      li - DMX Lighting Operator (Avolites)
section.portfolio
  h3 Portfolio
  h4#developed DEVELOPED WORK
  div.portfolio--trabajos
    
    +caja('https://www.cocinasocultas.com.uy/', 'cocinas.png', 'Cocinas Ocultas', 'Frontend Development using HTML, CSS, JavaScript & PHP.')
    +caja('https://www.cascanuecesarg.com', 'cascanueces.png', 'Cascanueces', 'Frontend Development using HTML, CSS, JavaScript & PHP.')
    +caja('https://www.pinkinton.com/', 'pinkinton.png', 'Pinkinton', 'Frontend Development using HTML, CSS, JavaScript & PHP.')
  h4#projects PROJECTS
  div.portfolio--proyectos
    +caja('https://materadiego.github.io/layout-curso/','landing.png','Landing page - CSS Grid','Landing page using css grid layout & HTML.')
    +caja('https://materadiego.github.io/prueba-animacion-css/','kombi.png', 'CSS Animation','Animation made for fun after finishing CSS animation course.')
    +caja('https://materadiego.github.io/transiciones-css/','transiciones.png','CSS Transitions','Project developed during CSS animation course.')
    +caja('https://materadiego.github.io/prueba-calculos-javascript/','figuras.png','JavaScript Calc','Calculating geometric figures.')
    +caja('https://materadiego.github.io/interest-prueba-css/','interest.png','Interest','Pinterest Layout using CSS Grid Layout.')
