header.header

  .xmenu-but.mob#xmenu-but   
    img(src="../images/Responsive-xmenu.png", alt="")
  .logo--container
    img.logo(src="../images/avatar2.png", alt="")
    h1 Diego Matera
    h2 frontend developer
  .menu
    nav
      ul
        li
          a(href="#about-me", id="about")  About me
        li
          a(href="#developed", id="dev")  Developed
        li
          a(href="#projects", id="proj")  Projects
  .redes
    a(href="https://github.com/materadiego", target="_blank")
      img(src="../images/gitb.png", alt="GitHub")
    a(href="https://www.linkedin.com/in/diego-matera/", target="_blank")
      img(src="../images/in.png", alt="LinkedIn")
    a(href="https://soundcloud.com/diego-matera", target="_blank")
      img(src="../images/sc.png", alt="Soundcloud")  