header
  .logo--container
    img.logo(src="../images/avatarbn.jpg", alt="")
    h1 Diego Matera
    h2 frontend developer
  .menu
    nav
      ul
        li
          a(href="#about-me")  About me
        li
          a(href="#developed")  Developed
        li
          a(href="#projects")  Projects
  .redes
    a(href="https://github.com/materadiego", target="_blank")
      img(src="../images/gitb.png", alt="GitHub")
    a(href="https://www.linkedin.com/in/diego-matera/", target="_blank")
      img(src="../images/in.png", alt="LinkedIn")
    a(href="https://soundcloud.com/diego-matera", target="_blank")
      img(src="../images/sc.png", alt="Soundcloud")  