.Navbar {
  width: 100%;
  background: #111;
  border: 1px solid white;
  background: transparent;
  position: absolute;
  z-index: 2;
  display: none;
}

.menu {
  width: 15%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  border: 2px solid red;
  & li {
    & a {
      text-decoration: none;
      color: white;
    }
  }
}
