.caja__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  transition: 0.4s;
  will-change: color box-shadow transform border;
  width: 300px;
  height: 350px;
  padding: 0px;
  border-radius: 0px;
  overflow: hidden;
  background-color: $color-primario;
  border-top: 3px solid $color-secundario;
  border-bottom: 3px solid $color-primario;
  margin: 20px 20px;
  @include shadow;
  .caja__imagen img {
    width: 280px;
    height: 170px;
    object-fit: cover;
    border-radius: 3px;
    margin-top: 10px;
  }
  .caja__contenido {
    width: 100%;
    text-align: center;
    transition: 0.4s;
    margin-bottom: 0;
    @include shadow-inner;
    h5 {
      font-size: 26px;
      height: 60px;
      display: flex;
      align-items: center;
      margin: 10px 0px 20px;
      justify-content: center;
      transition: 0.4s;
      border-top: 2px solid $color-secundario;
      border-bottom: 2px solid $color-secundario;
      @include shadow;
    }
    p {
      width: 80%;
      height: 40px;
      margin: 0 auto 10px;
      color: $color-claro;
    }
    &:hover {
      @include shadow-in;
    }
  }
  &:hover {
    transform: scale(1.02);
    border-top: 3px solid $color-variacion2;
    border-bottom: 3px solid $color-secundario;
    @include shadow-dark;
  }
  &:hover h5 {
    color: $color-variacion2;
    border-top: 2px solid $color-variacion2;
    border-bottom: 2px solid $color-variacion2;
  }
}
