.sobre-mi {
  padding: 0px 0 45px;
  margin: 25px auto 0;
  width: 100%;
  opacity: 0;
  animation-name: carga;
  animation-delay: 0.7s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  background-color: $color-primario;
  border-top: 2px solid $color-variacion;
  border-bottom: 2px solid $color-variacion;
  @include shadow;
  #about-me {
    margin: 15px 0 20px;
    padding: 15px 0 15px 70px;
    border-top: 2px solid $color-secundario;
    border-bottom: 2px solid $color-secundario;
    @include shadow-inner;
  }
  p {
    padding: 0px 70px;
    font-size: 16px;
    margin: 1px 0 0;
    line-height: 150%;
    font-family: $Fuente2;
  }
  .skills {
    padding-left: 70px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    ul {
      padding: 0 0 20px 0;
      width: 440px;
      margin: 0 70px 0 0;
      transition: 0.3s ease-in-out;
      border-radius: 3px;
      border: 2px solid $color-variacion;
      @include shadow;
      .title {
        display: flex;
        padding: 15px 40px;
        align-items: center;
        margin-bottom: 15px;
        margin-top: 0;
        border-bottom: 2px solid $color-secundario;
        @include shadow-inner;
        img {
          width: 30px;
          margin-left: 10px;
          margin-bottom: 5px;
        }
      }
      li {
        padding-left: 0px;
        font-size: 16px;
        font-weight: 500;
        list-style: none;
        padding: 5px 40px;
        line-height: 130%;
        color: $color-claro;
        font-family: $Fuente2;
      }
    }
  }
}

.portfolio {
  width: 100%;
  margin: 0 auto;
  opacity: 0;
  animation-name: carga;
  animation-delay: 1.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  color: $color-variacion2;
  @include shadow-inner;
  h3 {
    margin-top: 25px;
    padding: 20px 0 20px 70px;
    border-top: 2px solid $color-variacion2;
    border-bottom: 2px solid $color-variacion2;
    @include shadow-inner;
  }
  h4 {
    padding: 15px 0px 15px 70px;
    font-size: 28px;
    margin-top: 15px;
    border-top: 3px solid $color-secundario;
    border-bottom: 3px solid $color-secundario;
    @include shadow;
  }
  &--trabajos {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 30px 0;
    margin: 20px auto;
  }
  &--proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0 30px 0px;
  }
}
