.sobre-mi {
  width: 100%;
  opacity: 0;
  animation-name: carga;
  animation-delay: 0.7s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  background-color: $color-primario;
  padding-top: 5px;
  padding-bottom: 20px;
  border-bottom: 3px solid $color-oscuro;
  @include shadow-inner;
  @include media(desktop-s) {
    width: 100%;
    padding: 0px 0 45px;
    margin: 25px auto 0;
  }
  #about-me {
    margin: 15px 0 20px;
    border-top: 2px solid $color-secundario;
    border-bottom: 2px solid $color-secundario;
    @include shadow-inner;

    @include media(desktop-s) {
      padding: 15px 0 15px 70px;
    }
  }
  p {
    font-size: 14px;
    width: 70%;
    margin: 10px auto;
    line-height: 150%;
    font-family: $Fuente2;
    @include media(mobile-l) {
      font-size: 16px;
    }
    @include media(desktop-s) {
      padding: 0px 70px;
      margin: 1px 0 0;
      font-size: 16px;
      width: 100%;
    }
  }
  .skills {
    margin-top: 20px;
    align-items: flex-start;
    width: 100%;
    display: flex;
    //border: 2px solid red;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include media(mobile-xl) {
      width: 70%;
      margin: 20px auto;
    }
    @include media(desktop-s) {
      padding-left: 0;
      width: 100%;
      justify-content: flex-start;
    }
    @include media(desktop-m) {
      width: 750px;

      margin: 20px 0 20px 70px;
    }
    &--cont {
      width: 80%;
      padding: 0;
      margin: 0 auto 20px;
      transition: 0.3s ease-in-out;
      border-radius: 3px;
      transition: 0.3s;
      background: $color-oscuro;
      @include shadow;
      @include media(mobile-xl) {
        width: 100%;
      }
      @include media(desktop-s) {
        width: 440px;
        width: 100%;
        margin: 0;
        padding: 0;
        width: 290px;
      }
      @include media(desktop-m) {
        width: 320px;
        width: 100%;
      }
      &--title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        margin-top: 0;
        padding: 5px 0;
        position: relative;
        cursor: pointer;
        border-bottom: 2px solid $color-secundario;
        @include shadow-inner;
        @include media(desktop-s) {
          padding: 15px 40px;
          margin-bottom: 0;
          justify-content: flex-start;
        }
        & h4 {
          transition: 0.3s;
        }
        & img {
          width: 15px;
          margin-left: 10px;
          margin-bottom: 0px;
          position: absolute;
          right: 15px;
        }
      }
      &--ul {
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0;
        & li {
          font-weight: 500;
          //border: 2px solid red;
          list-style: none;
          width: 90px;
          border-radius: 60px;
          height: 180px;
          margin: 7px 10px;

          line-height: 130%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          text-align: center;
          box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 1);

          & figure {
            width: 100px;
            height: 100px;
            padding: 0;
            border-radius: 200px;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: inset 0 0 15px 0 $color-variacion2;
            & img {
              width: 55%;
              margin: 0 auto;
              // background-color: $color-variacion2;
            }
          }
          & p {
            color: $color-claro;
            font-family: $Fuente2;
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 0;
          }
          @include media(mobile-l) {
            font-size: 16px;
          }
          @include media(desktop-s) {
            padding: 5px 40px;
            font-size: 16px;
            transition: 0.3s;
            width: 30%;
            cursor: default;
          }
          &:hover {
            @include media(desktop-s) {
              color: $color-variacion2;
            }
          }
        }
      }
      &:hover .skills--cont--title h4 {
        @include media(desktop-s) {
          color: $color-variacion2;
        }
      }
    }
  }
}

.portfolio {
  width: 100%;
  margin: 0;
  opacity: 0;
  padding-bottom: 30px;
  animation-name: carga;
  animation-delay: 1.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  color: $color-variacion2;
  @include shadow-inner;
  @include media(desktop-s) {
    width: 100%;
    margin: 0 auto;
  }
  h3 {
    margin-top: 25px;
    border-top: 2px solid $color-variacion2;
    border-bottom: 2px solid $color-variacion2;
    @include shadow-inner;
    @include media(desktop-s) {
      padding: 15px 0 15px 70px;
    }
  }
  h4 {
    font-size: 28px;
    margin-top: 15px;
    border-top: 3px solid $color-secundario;
    border-bottom: 3px solid $color-secundario;
    @include shadow-inner;
    @include media(desktop-s) {
      padding: 10px 0px 10px 70px;
    }
  }
  &--trabajos {
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    width: 100%;
    @include media(mobile-l) {
      width: 70%;
    }
    @include media(tablet) {
      width: 100%;
      padding: 30px 0;
    }
    @include media(desktop-s) {
      margin: 20px auto;
      padding: 30px 0;
    }
  }
  &--proyectos {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    @include media(mobile-l) {
      width: 70%;
    }
    @include media(tablet) {
      width: 100%;
      padding: 30px 0;
    }
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-button-prev {
  transform: scale(0.6);
  position: absolute;
  left: 0px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: $color-claro;
}
.swiper-button-next {
  transform: scale(0.6);
}

.ul-front,
.ul-a-l {
  display: none;
  display: flex;
}

.title-f {
  color: $color-variacion;
}

.flecha-f {
  transform: rotateZ(0deg);
  transition: 0.3s;
}

.skills--cont {
  border: 3px solid $color-primario;
}

// .ul-active {
//   display: flex;
// }

// .flecha-is-active {
//   transform: rotateZ(-180deg);
// }

.title-is-active {
  color: $color-variacion2;
}

.logo-responsive {
  width: 50%;
  max-width: 350px;
  border-radius: 500px;
  margin: 0 auto;
  @include shadow;
}

.logo-responsive-figure {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //border: 2px solid red;
  @include media(desktop-s) {
    display: none;
  }
}
