.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  min-height: 560px;
  width: 100%;
  transition: 0.3s;
  will-change: opacity;
  position: fixed;
  z-index: 3;
  overflow: auto;
  background-color: $color-variacion;
  @include shadow-inner;
  @include media(mobile-l) {
    min-height: 680px;
    height: 100vh;
  }
  @include media(desktop-s) {
    width: 35%;
    position: relative;
    margin-left: 0;
  }
  @include media(desktop-m) {
    width: 25%;
  }
  .logo--container {
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-variacion;

    @include shadow-inner;

    @include media(mobile-l) {
      height: 280px;
    }
    @include media(desktop-s) {
      height: 45%;
      width: 100%;
    }
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      margin: 0;
      @include shadow;
      @include media(mobile-l) {
        width: 120px;
        height: 120px;
      }
      @include media(desktop-s) {
        width: 150px;
        height: 150px;
      }
    }
    h1 {
      margin: 10px 0 0;
      color: $color-claro;
      @include media(mobile-l) {
        font-size: 32px;
      }
    }
    h2 {
      margin: 0;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      color: $color-primario;
      @include media(mobile-l) {
        font-size: 22px;
      }
    }
  }
  .menu {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-primario;
    @include shadow-in;
    @include media(mobile-l) {
      height: 200px;
    }
    @include media(desktop-s) {
      height: 30%;
      width: 100%;
    }
    nav {
      width: 80%;
      ul {
        padding-left: 0;
        li {
          margin: 5px auto;
          width: 160px;
          list-style: none;

          a {
            font-size: 30px;
            padding: 0px 10px;
            text-decoration: none;
            transition: 0.3s;
            will-change: color opacity;
            color: $color-claro;
            border-left: 3px solid $color-secundario;
            opacity: 0.85;
          }
          a:hover {
            @include media(desktop-s) {
              border-left: 3px solid $color-variacion2;
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .redes {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primario;
    @include shadow-inner;
    @include media(mobile-l) {
      height: 120px;
    }
    @include media(desktop-s) {
      width: 100%;
    }
    a {
      width: 45px;
      height: 45px;
      margin: 0px 15px;
      @include media(mobile-l) {
        width: 50px;
        height: 50px;
      }
      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        transition: 0.3s;
        will-change: box-shadow;
        padding: 0;
        border: 3px solid $color-claro;
        @include media(mobile-l) {
          width: 50px;
          height: 50px;
        }
      }
      img:hover {
        border: 3px solid $color-variacion2;
        @include shadow;
      }
    }
  }
}

.header {
  opacity: 0;
  pointer-events: none;
  overflow: auto;
  @include media(desktop-s) {
    opacity: 1;
    pointer-events: all;
  }
}

.m-is-active {
  opacity: 1;
  pointer-events: all;
}
